
body{
    background: var(--bg-body);
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: background 0.4s ease;
}

#Background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#container{
    background-color:var(--bg-canvas);
    box-shadow: 0px 0px 7px 3px var(--shadow-canvas);
    border-radius: 20px;
    width: 470px;
    padding: 25px;
    height: 600px; 
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

#container2{
    display: block;
    align-items: center;
    margin-top: 150px;
    margin-left: 45px;
}

#container3{
    display: flex;
    justify-content: flex;
    width: 655px;    
    margin-top: 5px;   
}

input{
    width: 100%;
    border: 2px solid var(--text-main);
    padding: 10px 15px;
    border-radius: 7px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: white;
}

input:focus {
  outline: none;
  border-color: var(--text-main);
  box-shadow: 0 0 5px var(--text-main);
}

#password{
    width: 325px;
    color: var(--text-main);

}

#user{
    width: 325px;
    color: var(--text-main);
}

.button{
    border-radius: 5px;
    width: 60px;
    height: 35px;
    color: var(--text-main);
    border-color: var(--text-main);
    background-color: var(--bg-sidebar);
    margin-left: 310px;
    border: none;
    font-size: medium;
    margin-top: 10px;
}

.button:hover{
    color: var(--text-hover);
    background-color: var(--bg-hover);
    outline: none;
    border-color: var(--text-main);
    box-shadow: 0 0 5px var(--text-main);
    border: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-sidebar);
    margin-top: 125px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-text{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--text-main);
    margin-top: 15px;
}