<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    
   <!-- BARRA DE NAVEGAÇÃO 
    
        onde fica os botões com as principais funções 
        do mural, como botão de criação, imagens, login e 
        botão de mudança de tema-->

    <aside class="sidebar">

        <!-- sidebar header -->
        <header class="sidebar-header">
            <button class="toggler sidebar-toggler">
                <span class="material-symbols-outlined">chevron_left</span>
            </button>
        </header>

    <nav class="sidebar-nav">

        <!-- primeira lista do sidebar -->
        <ul class="nav-list">

            <li class="nav-item">
                <a href="criacao.html" class="nav-link">
                    <span class="nav-icon material-symbols-outlined">edit</span>
                    <span class="nav-label">Criação</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link">
                    <span class="nav-icon material-symbols-outlined">image</span>
                    <span class="nav-label">Imagens</span>
                </a>
            </li>

        </ul>

        <!-- segunda lista do sidebar -->
        <ul class="nav-list second-list">

            <button id="login" class="link-login">
                <a href="telaLogin.html">
                    <span class="nav-icon material-symbols-outlined">person</span>
                </a>
            </button>

            <button id="theme-toggle" class="nav-theme">
                <span class="nav-icon material-symbols-outlined">dark_mode</span>
            </button>

            <button id="group" class="link-group">
                <a href="sobreNos.html"></a>
                    <span class="nav-icon material-symbols-outlined">group</span>
            </button>

        </ul>

    </nav>

    </aside>

</body>
</html>