<!-- BARRA DE NAVEGAÇÃO

     onde fica os botões com as principais funções
     do mural, como botão de criação, imagens, login e
     botão de mudança de tema -->

<aside class="sidebar">

        <!-- sidebar header -->
        <header class="sidebar-header">
            <button class="toggler sidebar-toggler">
                <span class="material-symbols-outlined">chevron_left</span>
            </button>
        </header>

    <nav class="sidebar-nav">

        <!-- primeira lista do sidebar -->
        <ul class="nav-list">

            <li class="nav-item">
                <a href="criacao.html" class="nav-link">
                    <span class="nav-icon material-symbols-outlined">edit</span>
                    <span class="nav-label">Criação</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link">
                    <span class="nav-icon material-symbols-outlined">image</span>
                    <span class="nav-label">Imagens</span>
                </a>
            </li>

        </ul>

        <!-- segunda lista do sidebar -->
        <ul class="nav-list second-list">
            <li class="nav-item">
                <a id="login" class="nav-link" href="telaLogin.html" title="Login">
                    <span id="login-icon" class="nav-icon material-symbols-outlined">person</span>
                    <span id="login-label" class="nav-label">Login</span>
                </a>
            </li>

            <li class="nav-item">
                <button id="theme-toggle" class="nav-link nav-theme" type="button" title="Alternar tema">
                    <span class="nav-icon material-symbols-outlined">dark_mode</span>
                    <span class="nav-label">Tema</span>
                </button>
            </li>

            <li class="nav-item">
                <a id="group" class="nav-link" href="sobreNos.html" title="Sobre nós">
                    <span class="nav-icon material-symbols-outlined">group</span>
                    <span class="nav-label">Sobre nós</span>
                </a>
            </li>

        </ul>

    </nav>

</aside>